.speaker {
	height: 90px;
	width: 90px;
	margin: 0 1rem;
	position: relative;
	overflow: hidden;
	display: inline-block;

	span {
		display: block;
		width: 27%;
		height: 27%;
		background: #fff;
		margin: 37% 0 0 7%;

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-color: transparent #fff transparent transparent;
			border-width: 30px 42px 30px 45px;
			left: -43%;
			top: 17%;
		}

		&:before {
			transform: rotate(45deg);
			border-radius: 0 150px 0 0;
			content: '';
			position: absolute;
			width: 17%;
			height: 17%;
			border-style: double;
			border-color: #fff;
			border-width: 21px 21px 0 0;
			left: 60%;
			top: 30%;
			transition: all 0.2s ease-out;
		}
	}

	&:hover {

		span:before {
			transform: scale(.8) translate(-10%, 0) rotate(42deg);
    }
	}

  &.mute {
    span:before {
			transform: scale(.5) translate(-50%, 0) rotate(36deg);
      opacity: 0;
    }
  }
}