:root {
  --themeColor: #5a4edf;
  --themeColor2: #4c41cc;
}
body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Helvetica Neue,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: hsl(245deg 5% 16%);
  color: white;

  text-align: center;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  /*align-items: center;*/
}

.background-content{
  background-image: url('t-wallpaper.jpg');
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 100%;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,1.0) 100%);*/
  background: radial-gradient(transparent 5%, black 95%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

header{
  width: 100%;
  max-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

footer{
  padding: 0.5rem 0;
  max-height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.img-icons{
  padding: 1rem;
  margin: 0 0.5rem 0;
}
img{
  height: 4rem;
}

.main-content{
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
}
